.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: auto;
	padding: 20px;
	margin-top: auto;
	p {
		color: #FFFFFF;
		font-family: $tipografia-principal;
		font-style: normal;
		font-weight: 200;
		font-size: 10px;
		text-align: -webkit-center;
	}
}
.container-footer {
	@include flex-justify-center;
	top: 50%;
	left: 50%;
	padding-left: 0;
	li {
		list-style: none;
		a {
			width: 40px;
			height: 40px;
			text-align: center;
			font-size: 23px;
			margin: 0 10px;
			display: block;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			border: 2px solid #fff;
			z-index: 1;
			.icon {
				position: relative;
				color: #ffffff;
				transition: .5s;
				z-index: 3;
			}
			&:hover {
				.icon {
					color: #fff;
					transform: rotateY(360deg);
				}
				&:before {
					top: 0;
				}
			}
			&:before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: #f00;
				transition: .5s;
				z-index: 2;
			}
		}
		&:nth-child(1) {
			a {
				&:before {
					background: #3b5999;
				}
			}
		}
		&:nth-child(2) {
			a {
				&:before {
					background: #b80969;
				}
			}
		}
		&:nth-child(3) {
			a {
				&:before {
					background: #2b9900;
				}
			}
		}
	}
}